.card{
    &__title{
        @include texto;
        letter-spacing:2px;
        word-spacing: 3px;
        color: map-get($colores, "lavander")
    }
    &__text{
        text-align: center;
        line-height: 24px;
        font-size: 1rem;
    }
}