.footer{
    background-color:#3f3f3f;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    &__logo{
        width: 8rem;
        padding: 10px;
    }
    &__info{
        display: flex;
        justify-content: center;
        border-top: solid 1px white;
        border-bottom: solid 1px white;
        width: 100%;
        padding: 10px 0px;
    }
    &__text{
        color: white;
        text-transform: uppercase;
        font-size: 1rem;
        margin-bottom: 0px;
        word-spacing: 2px;
        letter-spacing: 2px;
    }
}