.section__titulo{
    color: map-get($colores, "sage");
    @include texto;
    font-size: 30px;
    letter-spacing: 0.6rem;
    word-spacing: 3px;
    margin: 30px 0px;
    padding: 15px 20px 0px 20px;
}

.section__subtitulo{
    color:map-get($colores, "sage");
    @include texto;
    font-size: 22px;
    letter-spacing: 0.6rem;
    word-spacing: 3px;
    margin-top: 35px; 
    margin-bottom: 15px;
}

.section__event{
    @extend .card__text;
    color: map-get($colores, "steelgrey");
    width: 70%;
    margin: 2rem auto;
    font-style: normal;
}

.fadehover:hover{
    cursor: pointer;
    opacity: 0.8;
}

.banner__event{
    width: 100%;
}